body {
  background-color:black;

}

img {
  width:100%;
}

.resume_container {
  width: 1200px;
  height: 5600px;
  margin:5px;
  padding: 32px;
  border: 8px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:black;
  background-color:whitesmoke;
  gap: 8px;

}

a:link {
  color:black;
}

a:visited {
  color:green;
}

a:hover {
  color:yellow;
}

a:active {
  color:red;
}

/*Headers*/
h1, h2, h3 {
  font-family:Georgia, serif;
  text-align:center;
}

h4 {
  text-align:center;
  font-size:15px;
  font-style:italic;
}

/*SocialNetwork*/
#socialNetwork {
  font-family:Georgia, serif;
  text-align:center;
  font-size:16px;
}

/*Contact*/
#contact {
  border-collapse:collapse;
  width:100%;
  text-align:center;
}

#contact td:hover{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:red;
}

/*Objective*/
#objective h4:hover{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:blue;
}

/*Qualifications*/
#qualifications {
  text-align:justify;
  margin:auto;
  width:90%;
  border:0px solid #73AD21;
  padding:5px;
}

#qualifications p:hover {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:blue;
}

/*Staff*/
#staff {
  text-align:center;
}

/*List*/
li {
  text-align:center;
  padding:5px;
}


/*Table*/
table {
  border-collapse:collapse;
  width: 100%;
}

.history {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:black;
  font-size:12px;
  text-align:center;
}

.history tr:hover {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:blue;
}

.history tr:nth-child(even) {
  background-color:white;
}

.history th {
  padding-top:6px;
  padding-bottom:6px;
  text-align:center;
  background-color:black;
  color:greenyellow;
}

.history td {
  border: 1px solid #ddd;
  padding: 8px;
}

/*Print*/
#print {
  text-align:center;
}