body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    margin:10px;
    border:3px;
    padding:15px;
    background-color:whitesmoke;
}

a:link {
    color:black;
}

a:visited {
    color:green;
}

a:hover {
    color:yellow;
}

a:active {
    color:red;
}

#greetings {
    text-align:center;
}

.socialNetwork {
    font-family:Georgia, serif;
    text-align:center;
    font-size:16px;
}

h1, h2, h3 {
    font-family:Georgia, serif;
    text-align:center;
}

h4 {
    text-align:center;
    font-size:15px;
    font-style:italic;

}

#information {
    border-collapse:collapse;
    width:100%;
    text-align:center;
}

#information td:hover{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:red;
}

#objective h4:hover{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: green;
}

#qualifications {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:justify;
    margin:auto;
    width:90%;
    border:0px solid #73AD21;
    padding:5px;
    
}

#staff {
    text-align:center;
}

li {
    text-align:center;
    padding:5px;
}

table {
    width: 100%;
}

.history {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    font-size:16px;
    border-collapse:collapse;
    width:100%;
    text-align:center;
}

.history tr:hover {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:blue;
}

.history tr:nth-child(even) {
    background-color:white;
}

.history tr:nth-child(odd) {
    background-color:rgb(153, 145, 145);
}

.history th {
    padding-top:6px;
    padding-bottom:6px;
    text-align:center;
    background-color:black;
    color:greenyellow;
}

.history td {
    border: 1px solid #ddd;
    padding: 8px;
}

#print {
    text-align:center;
}