body {
    font-family:Verdana, sans-serif;
    color:black;
    margin:10px;
    border:3px;
    padding:15px;
    background-color: lightgray;
}


#greetings {
    text-align:center;
}

.socialNetwork {
    font-family:Georgia, serif;
    text-align:center;
}

h1, h2, h3 {
    font-family:Georgia, serif;
    text-align:center;
}

h4 {
    text-align:center;
    font-size:15px;
    font-style:italic;

}


#information td:hover{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: tomato;

}


#objective h4:hover{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: green;

}

.qualifications {
    text-align:justify;
    margin:auto;
    width:90%;
    border:0px solid #73AD21;
    padding:5px;

}

li {
    text-align:center;
    padding:5px;
}

table {
    width: 100%;
}

#skills tr:nth-child(even) {
    background-color:#f2f2f2;
}

#education tr:nth-child(even) {
    background-color:#f2f2f2;
}

#languages tr:nth-child(even) {
    background-color:#f2f2f2;
}

#projects tr:nth-child(even) {
    background-color:#f2f2f2;
}

#skills tr:hover {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ff0000;
    background-color: #96D4D4;
}

#education tr:hover {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ff0000;
    background-color: #96D4D4;
}

#languages tr:hover {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ff0000;
    background-color: #96D4D4;
}

#projects tr:hover {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ff0000;
    background-color: #96D4D4;
}

#skills th {
    padding-top:6px;
    padding-bottom:6px;
    text-align:center;
    background-color:gray;
    color:white;
}

#education th {
    padding-top:6px;
    padding-bottom:6px;
    text-align:center;
    background-color:gray;
    color:white;
}

#languages th {
    padding-top:6px;
    padding-bottom:6px;
    text-align:center;
    background-color:gray;
    color:white;
}

#projects th {
    padding-top:6px;
    padding-bottom:6px;
    text-align:center;
    background-color:gray;
    color:white;
}

#skills td {
    border: 1px solid #ddd;
    padding: 8px;
}

#education td {
    border: 1px solid #ddd;
    padding: 8px;
}

#languages td {
    border: 1px solid #ddd;
    padding: 8px;
}

#projects td {
    border: 1px solid #ddd;
    padding: 8px;
}

#companies tr:nth-child(even) {
    background-color:#f2f2f2;
}

#companies tr:hover {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ff0000;
    background-color: #96D4D4;
}

#companies th {
    padding-top:6px;
    padding-bottom:6px;
    text-align:center;
    background-color:gray;
    color:white;
}

#companies td {
    border: 1px solid #ddd;
    padding: 8px;
}

#schools tr:nth-child(even) {
    background-color:#f2f2f2;
}

#schools tr:hover {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ff0000;
    background-color: #96D4D4;
}

#schools th {
    padding-top:6px;
    padding-bottom:6px;
    text-align:center;
    background-color:gray;
    color:white;
}

#schools td {
    border: 1px solid #ddd;
    padding: 8px;
}

#information, #skills, #education, #languages, #companies, #projects, #schools, #courses {
    border-collapse:collapse;
    width:100%;
    text-align:center;
}

#print {
    text-align:center;
}